.custom-input {
  transition: box-shadow 0.3s ease-in-out;
}

.custom-input:focus,
.custom-input:hover {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}

.custom-icon {
  transition: color 0.3s ease-in-out;
}

.custom-icon:hover {
  color: #17a2b8;
}

body{
  color:green;
  background-color:yellow;
}